body {
    background-color: #F3F5FC;
    display: flex;
    flex-flow: column;
    height: 100vh;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    margin-top: 40px;
    margin-left: 84px;;
}

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: calc(100vh - 90px);
    }
        /* Pantalla de inicio*/
        .first-buttons-group {
            width: 30%;
            height: 100%;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
        }

            .start-game-button {
                flex: 0 1 auto;

                margin-bottom: 38px;
                padding: 24px;

                width: 100%;
                height: 114px;

                border-style: none;
                background: #0A3871;
                border-radius: 24px;

                font-size: 18px;
                color: #FFFFFF;
            }

            .start-game-button:hover {
                cursor: pointer;
            }

            .write-word-button {
                flex: 0 1 auto;

                padding: 24px;

                width: 100%;
                height: 67px;

                border: 1px solid #0A3871;
                border-radius: 24px;

                font-size: 16px;
                color: #0A3871;
            }

            .write-word-button {
                cursor: pointer;
            }
        
        /* Pantalla de Hangman*/
        .hangman-board {
            display: flex;
            flex-flow: column;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
        }

            .hangman-canvas {
                display: flex;

                width: 100%;
                height: 100%;
                margin: 0 auto;
            }

            .second-buttons-group {
                display: flex;
                justify-content: center;

                width: 70%;
                height: 10%;
                margin: 20px;
            }

                .new-game-button {
                    padding: 12px;
                    margin-right: 24px;

                    width: 332px;
                    height: 50px;

                    border-style: none;
                    background: #0A3871;
                    border-radius: 24px;

                    font-size: 18px;
                    color: #FFFFFF;
                }

                .new-game-button:hover {
                    cursor: pointer;
                }

                .desist-button {
                    padding: 12px;
    
                    width: 332px;
                    height: 50px;
    
                    background-color: #F3F5FC;
                    border: 1px solid #0A3871;
                    border-radius: 24px;
    
                    font-size: 16px;
                    color: #0A3871;
                }
    
                .desist-button {
                    cursor: pointer;
                }
        
        /* Pantalla de Write a word*/
        .new-word {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;

            width: 100%;
            height: 100%;
        }

            .new-word-input {
                height: 60%;
                width: 50%;

                resize: none;
                border-style: none;
                outline: none;

                font-family: 'Inter';
                
                background-color: #F3F5FC;
                font-size: 32px;
                color: #0A3871;
            }

            .info {
                display: flex;
                align-items: center;
                
                width: 50%;
                margin-bottom: 16px;

                font-size: 12px;

                color: #495057;
                opacity: 0.8;
            }

                .info img {
                    padding-right: 8px;
                }

            .third-buttons-group {
                display: flex;
                justify-content: center;

                width: 50%;
            }

                .new-word-add {
                    padding: 12px;
                    margin-right: 24px;

                    width: 332px;
                    height: 50px;

                    border-style: none;
                    background: #0A3871;
                    border-radius: 24px;

                    font-size: 18px;
                    color: #FFFFFF;
                }

                .new-word-add:hover {
                    cursor: pointer;
                }

                .new-word-cancel {
                    padding: 12px;

                    width: 332px;
                    height: 50px;

                    background-color: #F3F5FC;
                    border: 1px solid #0A3871;
                    border-radius: 24px;

                    font-size: 16px;
                    color: #0A3871;
                }

                .new-word-cancel:hover {
                    cursor: pointer;
                }

@media all and (min-width: 415px) and (max-width: 952px) {
    header {
        margin-top: 20px;
        margin-left: 42px;
    }

    .first-buttons-group {
        width: 40%;
    }

    .hangman-canvas {
        width: 90%;
        height: 50%;
    }

    .new-word-input {
        width: 70%;
    }

    .info {
        width: 70%;
    }

    .third-buttons-group {
        width: 70%;
    }
}

@media all and (max-width: 414px) {
    header {
        margin-top: 10px;
        margin-left: 21px;
    }

    .first-buttons-group {
        width: 70%;
    }

    .hangman-canvas {
        width: 100%;
        height: 40%;
    }

    .second-buttons-group {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 90%;
        height: 20%;
    }

    .new-game-button {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
    }

    .desist-button {
        width: 100%;
    }

    .new-word-input {
        width: 90%;
    }

    .info {
        width: 90%;
    }

    .third-buttons-group {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 90%;
    }

    .new-word-add {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
    }
    .new-word-cancel {
        width: 100%;
    }
}